.restaurants {
  padding-top: 50px;
  @include mobile {
    padding-top: 30px;
  }
  &-name {
    @include flex-spaceBetween-center;
    gap: 20px;
    margin-bottom: 40px;
    @include mobile-small {
      flex-wrap: wrap;
    }
    &__title {
      font: var(--txt-700-36-100-ff);
      color: var(--gray---gray-10);
      @include mobile {
        font: var(--txt-700-30-100-ff);
      }
    }
    &__search {
      position: relative;
      input {
        border: 1px solid var(--gray---gray-5);
        border-radius: 2px;
        background: var(--gray---gray-1);
        padding: 5px 12px 5px 32px;

        font: var(--txt-400-16-150-ff);
        color: var(--gray---gray-10);
        @include mobile {
          font: var(--txt-400-14-157-ff);
        }
        &::placeholder {
          font: var(--txt-400-16-150-ff);
          color: var(--gray---gray-6);
          @include mobile {
            font: var(--txt-400-14-157-ff);
          }
        }
      }
      &-img {
        cursor: pointer;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 10px;
      }
    }
  }
  &-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    gap: 24px;
    @include tablet {
      grid-template-columns: 1fr 1fr;
    }
    @include mobile {
      gap: 15px;
    }
    @include mobile-small {
      grid-template-columns: 1fr;
    }
  }
  &-item {
    cursor: pointer;
    max-width: 384px;
    transition: var(--transition);
    &:hover {
      opacity: 0.7;
    }
    &__img {
      border-radius: 7px 7px 0 0;
      margin-bottom: 20px;
    }
    &__block1 {
      @include flex-spaceBetween-center;
      column-gap: 10px;
      margin-bottom: 10px;
      &-name {
        font: var(--txt-700-24-133-ff);
        color: var(--gray---gray-10);
        @include mobile {
          font: var(--txt-700-20-100-ff);
        }
        @include mobile-small {
          font: var(--txt-700-16-100-ff);
        }
      }
      &-time {
        font: var(--txt-400-12-167-ff);
        color: var(--gray---gray-1);
        padding: 1px 8px;
        background: var(--gray---gray-9);
        border-radius: 2px;
        white-space: nowrap;
      }
    }
    &__block2 {
      display: flex;
      align-items: center;
      column-gap: 25px;
      @include mobile {
        flex-direction: column;
        align-items: flex-start;
      }
      @include mobile-small {
        flex-direction: inherit;
        align-items: center;
      }
      &-rating {
        display: flex;
        align-items: center;
        column-gap: 7px;
        span {
          font: var(--txt-700-18-178-ff);
          color: var(--color-span);
        }
      }
      &-price {
        font: var(--txt-400-18-178-ff);
        color: var(--gray---gray-7);
        white-space: nowrap;
        @include mobile {
          font: var(--txt-400-15-100-ff);
          margin-bottom: 5px;
        }
        @include mobile-small {
          margin-bottom: inherit;
        }
      }
      &-name {
        font: var(--txt-400-18-178-ff);
        color: var(--gray---gray-7);
        @include mobile {
          font: var(--txt-400-15-100-ff);
        }
      }
    }
  }
}
